html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: aliceblue;
}


header {
    height: 6em;
    padding: 3em;
    font-size: 2em;
    background-image: url("../imgs/header.jpg");
    background-position: center;
    background-size: cover;
}

header h1 {
    color: cadetblue;
    font-size: 4rem; 
    text-align: right;
    font-weight: bold;
    padding-right: 80px;
    padding-bottom: 100px;
    text-shadow: 2px 2px 10px gray;

}

.container {
    width: 50%;
    margin-left: auto;
    padding-right: 30%;
}

.container h2  {
    color:cadetblue;
    width: 400px;
    font-weight: 900;
    text-shadow: 0.5px 0 1px black;
}

.precio {
    text-align: right;
}

.valor {
    text-decoration: underline 2px gray;
}

.img {
    width: 60%;

}

section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section article{
    transition: box-shadow 0.3s ease;
    background-color:mintcream;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem gray;
}


section article h2, section article p{
    margin: 1rem;
}

footer {
    background-color:gainsboro;
    padding: 3rem;
    color:whitesmoke;
    
}

footer section {
    float: right;
}

footer p {
    margin: 0px;
    color: black;
}

footer a {
    transition: color 0.3 ease;
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
    float: right;
    text-shadow: 1px 0 3px white;
}

footer a:hover{
    color: gray;
}

footer p {
    font-weight: bold;
}